html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

table{clear:both}

body{
font-family: arial, sans-serif;
font-size: 12px;
color: #444;
background: #fff url(../images/bg.png) repeat-x	;
}
@font-face {
	font-family: 'ChunkFiveRegular';
	src: url('../fonts/chunkfive-webfont.eot');
	src: local('Ã¢ÂÂº'), url('../fonts/chunkfive-webfont.woff') format('woff'), url('../fonts/chunkfive-webfont.ttf') format('truetype'), url('../fonts/chunkfive-webfont.svg#webfontMiBMgcUL') format('svg');
	font-weight: normal;
	font-style: normal;
}
a{color: #e22222;}
a:visited{color: #af0808}
a:hover{text-decoration: none;}

strong{font-weight: bold}
strong{font-: italic}

header, section, footer, aside{display:block;}

header{
width: 980px;
height: 230px;
margin: 0 auto;
position: relative;
}
header h1 a{
  display: block;
    height: 150px;
    
    position: absolute;
   
    top: 8px;
    width: 245px;
/* background: url(../images/logo.png) no-repeat center center; */
}

/* ---- For white logo background
header h1{
background: #fff; 
height: 160px; 
width: 251px; 
border: 1px solid #01719e; 
margin-top: -1px;
-moz-box-shadow: 0px 0px 3px #0a6d93;
-webkit-box-shadow: 0px 0px 3px #0a6d93;
box-shadow: 0px 0px 3px #0a6d93;
}
*/

header #banner{
top: 0px;
right: 118px;
width: 485px;
height: 77px;
padding: 9px 0 0 17px;
background: url(../images/bannerBg.png) no-repeat;
position: absolute;
}
nav{
position: absolute;
bottom: 48px;
right: 0px;
width: 710px;
text-align: center;
font-family: ChunkFiveRegular, arial, sans-serif;
}
nav ul{margin: 0 auto;}
nav ul li{
list-style: none;
display: inline-block;
zoom: 1;
*display: inline;
}
nav ul li a, nav ul li a:visited{
display: block;
padding: 14px 10px 9px;
margin-left: 8px;
font-size: 18px;
text-transform: uppercase;
color: #fff;
text-decoration: none;
text-shadow: 1px 1px 0px #941212;
border-top: 1px solid #f27676;
border-right: 1px solid #ef9595; 
-moz-box-shadow: 0px 0px 3px #4b0505;
-webkit-box-shadow: 0px 0px 3px #4b0505;
box-shadow: 0px 0px 3px #4b0505;
background: #028cbe url(../images/navBg.png) repeat-x 0 top;
}
nav ul li a:hover{
text-shadow: 1px 1px 0px #941212;
border-top: 1px solid #fe9c9c;
border-right: 1px solid #fdc0c0; 
-moz-box-shadow: 0px 0px 3px #4b0505;
-webkit-box-shadow: 0px 0px 3px #4b0505;
box-shadow: 0px 0px 3px #4b0505;
background-position: bottom;
}
#facebook{
position: absolute;
bottom: 12px;
left: 104px;
display: block;
width: 137px;
height: 30px;
text-indent: -999em;
background: url(../images/facebook.png) no-repeat;
}
#facebook:hover{background-position: 0 bottom;}
#weather{
position: absolute;
bottom: 12px;
left: 11px;
color: #a12323;
font-family: ChunkFiveRegular, arial, sans-serif;
font-size: 22px;
text-shadow: 1px 1px 0px #fff;
}
#weather img{position: relative; top: 4px;}

.spanish_icon{width:360px !important;}

.spanish_nav {width:726px !important;}

#download{
display: block;
width: 336px;
height: 41px;
position: absolute;
bottom: 6px;
right: 12px;
/*text-indent: -999em;
background: url(../images/iPhone.png) no-repeat;*/
}
#download:hover{background-position: 0 bottom;}

#download p {
    float: left;
    padding: 14px 10px 0 0;
}


#iPhone, #android {
    background: url("../images/apps.png") repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 41px;
    text-indent: -999em;
    width: 48px;
}

#android {
    background-position: right 0;
    width: 55px;
}

#android:hover{background-position: right bottom;}

#iPhone:hover{background-position: 0 bottom}


#wrapper{
width: 992px;
margin: 0 auto;
}
aside{
float: left;
width: 265px;
font-size: 12px;
text-align: center;
margin-top: -59px;
}
#topLeftContent{
padding: 80px 0 28px 0;
background: url(../images/leftColBg.png) no-repeat;
}
aside h3{
color: #a12323;
font-family: ChunkFiveRegular, arial, sans-serif;
font-size: 20px;
}
#leftColContent{
padding: 15px 0;
background: url(../images/leftColBgRepeat.png) repeat-y 1px;
}
aside img{margin-left: -5px;}
aside p{
width: 226px;
text-align: justify;
line-height: 1.5;
letter-spacing: -.03em;
margin: 5px 0 20px 3px;
padding: 0 14px 20px 13px;
border-bottom: 1px solid #ebebeb;
}
aside p:last-child{
border-bottom: 0px;
display: none;
}
#leftFooter{
height: 15px;
background: url(../images/leftColFooter.png) 1px;
}

section{
float: left;
width: 702px;
line-height: 1.6;
margin-bottom: 30px;
padding: 30px 0 0 20px;
}
section h2{
height: 46px;
font-family: ChunkFiveRegular, arial, sans-serif;
font-size: 26px;
line-height: 1.6;
padding: 0px 0 0 20px;
margin: 0 0 20px -6px;
color: #fff;
text-shadow: 1px 1px 0px #660b0b;
background: url(../images/headingBg.png) no-repeat left top;
}
section h3{
color: #aa2121;
font-weight: bold;
font-size: 17px;
}
dl{margin-bottom: 10px;}
dt{
font-weight: bold;
float: left;
width: 50px;
}
.adThreeHunderd{
width: 307px;
height: 257px;
float: right;
margin-left: 20px;
padding: 7px 0 0 7px;
background: url(../images/300x250bg.png) no-repeat;
}
.button, .button:visited{
display: block;
float: right;
padding: 6px 10px 2px;
font-size: 18px;
text-transform: uppercase;
color: #fff;
zoom:1;
font-family: ChunkFiveRegular, arial, sans-serif;
text-decoration: none;
text-shadow: 1px 1px 0px #941212;
border-top: 1px solid #f27676;
border-right: 1px solid #ef9595;
background: #028cbe url(../images/navBg.png) repeat-x;
}
.button:hover{
text-shadow: 1px 1px 0px #941212;
border-top: 1px solid #fe9c9c;
border-right: 1px solid #fdc0c0;
background-position: bottom;
}
.infoBox{
float: left;
margin-bottom: 30px;
}
.infoBox p{
text-align: justify;
margin-bottom: 14px;
}
#photos{
clear: both;
position: relative;
width: 712px;
margin-left: -10px;
height: 386px;
zoom: 1;
background: url(../images/photosBg.jpg);
}
#photo{
position: absolute;
top: 21px;
left: 20px;
width: 312px;
background: #fff;
border: 10px solid #fff;
text-align: center;
line-height: 1;
-moz-box-shadow: 0px 0px 5px #000;
-webkit-box-shadow: 0px 0px 5px #000;
box-shadow: 0px 0px 5px #000;
}
#photo img{border: 1px solid #000;margin-bottom: 7px;}
#photo strong{color: #c03c3c; display: block;margin-bottom: 4px;}
#photos h3{
position: absolute; 
left: 375px;
top: 28px;
color: #fff;
font-size: 23px;
font-weight: normal;
text-shadow: 1px 1px 0px #310000;
font-family: ChunkFiveRegular, arial, sans-serif;
}
#photos h4{
position: absolute; 
left: 375px;
top: 58px;
color: #fff;
font-size: 20px;
font-weight: normal;
text-shadow: 1px 1px 0px #310000;
font-family: ChunkFiveRegular, arial, sans-serif;
}
#photos p{
position: absolute;
left: 375px;
top: 86px;
text-align: justify;
width: 310px;
color: #fff;
font-size: 13px;
font-weight: bold;
}
#photos a{color: #fff;}
#prevPhoto, #nextPhoto, #randomPhoto{
display: block;
height: 32px;
width: 87px;
position: absolute;
top: 192px;
left: 375px;
text-indent: -999em;
background: url(../images/photoNav.png);
}

.sp_but{
display: block;
height: 32px;
width: 87px;
position: absolute;
top: 194px;
left: 375px;
text-indent: -999em;
background: url(../images/photoNav_sp.png) !important;

}

#prevPhoto:hover{background-position: 0 bottom !important;}
#randomPhoto{
left: 477px;
width: 107px;
background-position: -87px 0 !important;
}
#randomPhoto:hover{background-position: -87px bottom !important;}
#nextPhoto{
left: 600px;
width: 87px;
background-position: -194px 0 !important;
}
#nextPhoto:hover{background-position: -194px bottom !important;}

.adTwoThirtyFour, .adTwoThirtyFourSecond{
width: 241px;
height: 67px;
overflow: hidden;
position: absolute;
left: 410px;
top: 225px;
padding: 7px 0 0 7px; 
background: url(../images/photoAdBg.png) no-repeat;
}
.adTwoThirtyFourSecond{top: 300px;}

footer{
clear: both;
height: 230px;
background: #555 url(../images/footerBg.png) repeat-x;
}
#footerWrap{
width: 878px;
padding-top: 16px;
margin: 0 auto;
color: #b5b5b5;
}
#footerWrap li{
list-style: none;
float: left;
}
#footerAds{margin-left: -30px;overflow: hidden;}
#footerAds li{
margin-left: 30px;
}
#leftLinks a, #rightLinks a{color: #b5b5b5;text-decoration: none;}
#leftLinks a:hover, #rightLinks a:hover{text-decoration: underline;}
#leftLinks{float:left}
#rightLinks{float:right}
#leftLinks li, #rightLinks li{margin-top: 20px;padding-right: 3px;}
#rightLinks #partner a{
display: block;
width: 109px;
height: 36px;
text-indent: -999em;
background: url(../images/townWizPartner.png) no-repeat;
margin: -15px 0 20px 10px;
}

.img_container img {
    width: 315px;
	height: 250px;
}