<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head><title>
	TapDestin
</title>
    <script language="javascript" type="text/javascript">
        function linkClicked(link) { document.location = link; }
    </script>
</head>

<body style='margin-top: 0px; margin-left: 0px; margin-right: 0px; margin-bottom: 0px;'>
    <form name="form1" method="post" action="iAdPage.aspx?screen=Restaurant" id="form1">
<div>

<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwULLTEzMjU5MTUzNjNkZKTdJGH3mj/F6RJFM2IuE1D0qWmo" />
</div>

    <div>
        <img src="http://www.destinshines.com/cms/Ads/40.gif" width='320px' height='50px' onclick="javascript:linkClicked('APP30A:::Restaurant:::253');" />
    </div>
    </form>
</body>
</html>